.c1{
    background: linear-gradient(45deg,violet,indigo,blue,green,yellow,orange,red);
    padding:7px;
    border-radius: 30px;
    animation: anim-moving-glow 3s linear  infinite;
    -webkit-animation: anim-moving-glow 6s linear infinite !important;
    background-size: 400%;
    margin:0 !important;
}
@keyframes anim-moving-glow {

    0% {

        background-position: 0 0;

    }
    50% {

        background-position: 100% 100%;

    }
	
    100% {

        background-position: 0% 0%;

    }

}

